---
layout: default
---
<div class="explore">
  <div class="container-lg">
    <h2 class="text-center">Explore</h2>
    <p class="text-center col-md-7 col-sm-10 mx-auto">
      Check out these apps made by P-society that can help developers in great way. They're all open source and free to use on any project.
    </p>
    <div class="d-md-flex flex-wrap gutter flex-auto">
      {% assign apps = site.apps %}
      {% for app in apps limit:1 %}
        {% include app.html app=app %}
      {% endfor %}
    </div>
    <br>
    <div class="text-center py-3">
      <p class="lead mx-auto col-md-8">
        :v: Currently many are work in progress.
      </p>
    </div>
  </div>
</div>

<div class="contributor">
  <div class="container-lg"></div>
  <h2 class="text-center">Members</h2>
  <p class="lead text-center col-md-7 col-sm-10 mx-auto">
    These are some members of our society.
  </p><br>
  <div class="d-md-flex flex-wrap gutter flex-auto">
    {% assign contributors = site.contributors-app %}
    {% for app in contributors limit : 6%}
      {% include contributor.html app=app %}
    {% endfor %}
  </div>
  <br>
  <div class="text-center">
    <a href="/contributors/">
      <button class="btn btn-outline btn-large">
        {% octicon telescope class:"mr-2" %}
        Checkout all contributors
      </button>
    </a>
  </div>
</div>
