<div class="col-xs-12 col-md-2">
  <div class="card brown lighten-5  hoverable" style="overflow: visible;">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator img-fluid" src="{{app.picUrl}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{app.name}}<a class="btn-floating pulse right blue"><i class="material-icons">more_vert</i></a></span>
    </div>
    <div class="card-reveal" style="display: none; transform: translateY(0%);overflow-y: hidden;">
      <span class="card-title grey-text text-darken-4 text-center">{{app.githubUsername}}<a class="btn-floating pulse right red"><i class="material-icons">close</i></a></span>
      <br><p class="text-center card-panel">{{app.description}}</p>
      <div class="row text-center">
        <div class="col-xs-12 col-md-12">
          <a class="btn-floating btn-md waves-effect waves-light contri-github"><p class="text-center">{% octicon mark-github %}</p></a>
          <a class="btn-floating btn-md waves-effect waves-light contri-linkedIn"><p class="text-center">in</p></a>
          <a class="btn-floating btn-md waves-effect waves-light contri-twitter"><p class="text-center">T</p></a>
        </div>
      </div>
    </div>
  </div>
</div>
