<footer class="footer-under">
  <div class="container-width">
    <div class="footer-container">
      <div class="foot-lists">
        <div class="foot-list">
          <div class="foot-list-item"><a href="#" class="foot-list-item-anchor">About us</a></div>
          <div class="foot-list-item"><a href="{{site.email}}" class="foot-list-item-anchor">Contact</a></div>
          <div class="foot-list-item"><a href="#" class="foot-list-item-anchor">Events</a></div>
          <div class="foot-list-item"><a href="#" class="foot-list-item-anchor">Organization</a></div>
          <div class="foot-list-item"><a href="#" class="foot-list-item-anchor">Blog</a></div>
        </div>
        <div class="foot-list">
          <div class="foot-list-item"><a href="{{site.gituhub_url}}" class="foot-list-item-anchor">Github</a></div>
          <div class="foot-list-item"><a href="{{site.medium_url}}" class="foot-list-item-anchor">Articles</a></div>
          <div class="foot-list-item"><a href="{{site.slack_url}}" class="foot-list-item-anchor">Slack</a></div>
          <div class="foot-list-item"><a href="{{site.sourceUrl}}" class="foot-list-item-anchor">Site source code</a></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="form-sub">
        <div class="foot-form-cont">
          <div class="foot-form-title">Follow us</div>
          <div class="foot-list-item">
            <a href="{{site.facebook_url}}" class="foot-list-item-anchor">facebook</a>
            <a href="{{site.twitter_url}}" class="foot-list-item-anchor">twitter</a>
            <a href="{{site.linkedIn_url}}" class="foot-list-item-anchor">linkedin</a>
            <a href="{{site.medium_url}}" class="foot-list-item-anchor">medium</a>
          </div>
          <div class="foot-form-desc">We will be happy to have you. :wink:</div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container-width">
      <div class="made-with">
        made with :heart: by <a href="{{site.gituhub_url}}">p-society</a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</footer>
