<footer class="footer-under">
  <header class="header-footer">
   <div class="svg-footer">
     <svg id="sun" style="position: absolute;top: 2.5rem;right: 0;"width="160px" height="190px" viewBox="0 0 300 300" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
       <circle cx="170" cy="100" r="100" fill="#F8D71B"></circle>
     </svg>
     <svg id="dunes" width="1399px" height="575px" style="top:10.5rem;left:-25rem;position:absolute" viewBox="0 0 1399 225" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
       <path d="M460.049805,0 C526.688307,0 914.984756,249.041033 914.984756,249.041033 L0,249.041033 C0,249.041033 393.411303,2.21509134e-15 460.049805,0 Z" fill="#F5A623"></path>
       <path d="M460.165305,1 C460.165305,218.282873 1089.92664,248.654319 1089.92664,248.654319 L0,248.654319 C0,248.654319 393.526803,1 460.165305,1 Z" fill="#EE9F21"></path>
       <path d="M839,73 C947.982568,73 1399,249 1399,249 L279,249 C279,249 730.017432,73 839,73 Z" fill="#F5A623"></path>
       <path d="M839,73 C839,183.333997 1055.01296,249 1055.01296,249 L279,249 C279,249 730.017432,73 839,73 Z" fill="#ED9F21"></path>
     </svg>
   </div>
  </header>
  <div class="container-width">
    <div class="footer-container">
      <div class="foot-lists">
        <div class="foot-list">
          <div class="foot-list-item"><a href="/" target="_blank" class="foot-list-item-anchor">About us</a></div>
          <div class="foot-list-item"><a href="/contact/" target="_blank" class="foot-list-item-anchor">Contact</a></div>
          <div class="foot-list-item"><a href="{{site.medium_url}}" target="_blank" class="foot-list-item-anchor">Articles</a></div>
          <div class="foot-list-item"><a href="{{site.slack_url}}" target="_blank" class="foot-list-item-anchor">Slack</a></div>
        </div>
        <div class="foot-list">
          <div class="foot-list-item"><a href="{{site.github_url}}" target="_blank" class="foot-list-item-anchor">Github</a></div>
          <div class="foot-list-item"><a href="{{site.sourceUrl}}" target="_blank" class="foot-list-item-anchor">Site source code</a></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="form-sub">
        <div class="foot-form-cont">
          <div class="foot-form-title">Follow us</div>
          <div class="foot-list-item">
            <a href="{{site.facebook_url}}" target="_blank" class="foot-list-item-anchor"><i class="fa fa-facebook fa-2x"></i></a>
            <a href="{{site.twitter_url}}" target="_blank" class="foot-list-item-anchor"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="{{site.linkedIn_url}}" target="_blank" class="foot-list-item-anchor"><i class="fa fa-linkedin fa-2x"></i></a>
            <a href="{{site.medium_url}}" target="_blank" class="foot-list-item-anchor"><i class="fa fa-medium fa-2x"></i></a>
            <a href="{{site.dribble_url}}" target="_blank" class="foot-list-item-anchor"><i class="fa fa-dribbble fa-2x"></i></a>
          </div>
          <div class="foot-form-desc">We will be happy to have you. :wink:</div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="made-with">
      made with :heart: by <a href="{{site.github_url}}" target="_blank">p-society</a>
    </div>
    <div class="clearfix"></div>
  </div>
</footer>
