{% if page.url == '/' %}{% assign homepage = true %}{% endif %}
  {% unless homepage %}
    <div class="{% unless homepage %}border-bottom{% endunless %}">
      <div class="container px-3 py-4">
        <div class="py-4">
          <nav class="navbar fixed-top navbar-expand-lg navbar-light text-change white" id="navbar">
            <a class="navbar-brand brand px-2" href="/">P-SOCIETY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link px-2 text-change" href="{{site.email}}">CONTACT</a>
                <a class="nav-item nav-link px-2 text-change" href="{{site.github_url}}">PROJECTS</a>
                <a class="nav-item nav-link px-2 text-change" href="{{site.slack_url}}">COMMUNITY</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  {% endunless %}

  {% if homepage == true  %}
   <div class="container px-3 py-4" style="top:0;position:absolute;left:auto;">
     <div class="py-4">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light text-change white lighten-15 z-depth-5" id="navbar">
       <a class="navbar-brand brand px-2" href="/">P-SOCIETY</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <div class="navbar-nav ml-auto">
           <a class="nav-item nav-link px-2 text-change" href="{{site.email}}">CONTACT</a>
           <a class="nav-item nav-link px-2 text-change" href="{{site.github_url}}">PROJECTS</a>
           <a class="nav-item nav-link px-2 text-change" href="{{site.slack_url}}">COMMUNITY</a>
         </div>
       </div>
     </nav>
   </div>
   </div>
   <header style="background: linear-gradient(to bottom left,#1F1C6E,#181554);overflow: hidden;padding-top: 2rem; height:600px ">
    <div style="padding-left: 0;
      padding-right: 0;color: #fafafa;display: block;
      max-width: 80rem;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;">
    <div style="color:white;top: 16rem;position:absolute;font-size: 2.4rem;
    font-weight: 700;z-index:999;" class="z-depth-5 lighten-6">
        "Bunch of undergrads from IIIT-BBSR"-
        <em style="font: inherit;
    vertical-align: baseline;">welcome you.</em>
    </div>
    <svg id="sun" style="position: absolute;top: 7.5rem;right: 0;"width="160px" height="190px" viewBox="0 0 300 300" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <circle cx="170" cy="100" r="100" fill="#F8D71B"></circle>
    </svg>
    <svg id="dunes" width="1399px" height="575px" style="top:10.5rem;left:-25rem;position:absolute" viewBox="0 0 1399 225" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path d="M460.049805,0 C526.688307,0 914.984756,249.041033 914.984756,249.041033 L0,249.041033 C0,249.041033 393.411303,2.21509134e-15 460.049805,0 Z" fill="#F5A623"></path>
      <path d="M460.165305,1 C460.165305,218.282873 1089.92664,248.654319 1089.92664,248.654319 L0,248.654319 C0,248.654319 393.526803,1 460.165305,1 Z" fill="#EE9F21"></path>
      <path d="M839,73 C947.982568,73 1399,249 1399,249 L279,249 C279,249 730.017432,73 839,73 Z" fill="#F5A623"></path>
      <path d="M839,73 C839,183.333997 1055.01296,249 1055.01296,249 L279,249 C279,249 730.017432,73 839,73 Z" fill="#ED9F21"></path>
    </svg>
    </div>
   </header>
  {% endif %}

  <script type="text/javascript">
  var app = document.getElementById('appTop')
  var nav = document.getElementById('navbar')
  var memberNames = document.getElementById('memberNames')
  var last_known_scroll_position = 0;
  var ticking = false;
  function doSomething(scroll_pos) {
    if(scroll_pos<50){
      nav.classList.add("navIn")
      nav.classList.add("fixed-top")
    } else if(scroll_pos>50){
      nav.classList.remove("navIn")
      nav.classList.add("navout")
    }
  }

  window.addEventListener('scroll', function(e) {
    last_known_scroll_position = window.scrollY;
    if (!ticking) {
      window.requestAnimationFrame(function() {
        doSomething(last_known_scroll_position);
        ticking = false;
      })
      ticking = true;
    }
  })
  </script>
