{% if page.url == '/' %}{% assign homepage = true %}{% endif %}
  {% unless homepage %}
    <div class="{% unless homepage %}border-bottom{% endunless %}">
      <div class="container px-3 py-4">
        <div class="py-4">
          <nav class="navbar fixed-top navbar-expand-lg navbar-light text-change white" id="navbar">
            <a class="navbar-brand brand px-2" href="/">P-SOCIETY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link px-2 text-change" href="{{site.email}}">CONTACT</a>
                <a class="nav-item nav-link px-2 text-change" href="{{site.github_url}}">PROJECTS</a>
                <a class="nav-item nav-link px-2 text-change" href="{{site.slack_url}}">COMMUNITY</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  {% endunless %}

  {% if homepage == true  %}
   <div class="container px-3 py-4" style="top:0;position:absolute;left:auto;">
     <div class="py-4">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light text-change white lighten-15 z-depth-5" id="navbar">
       <a class="navbar-brand brand px-2" href="/">P-SOCIETY</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <div class="navbar-nav ml-auto">
           <a class="nav-item nav-link px-2 text-change" href="{{site.email}}">CONTACT</a>
           <a class="nav-item nav-link px-2 text-change" href="{{site.github_url}}">PROJECTS</a>
           <a class="nav-item nav-link px-2 text-change" href="{{site.slack_url}}">COMMUNITY</a>
         </div>
       </div>
     </nav>
   </div>
   </div>
   <div class="container text-center" style="margin-top:200px;position:relative;margin-bottom:100px;">
     <div class="row px-4">
      <div class="col-md-12 col-xs-12"><blockquote class="jumbotron"><i style="font-size:20px;font-weight:bold;">:wave: "{{site.description}}</i></blockquote></div>
     </div>
   </div>
  {% endif %}

  <script type="text/javascript">
  var app = document.getElementById('appTop')
  var nav = document.getElementById('navbar')
  var memberNames = document.getElementById('memberNames')
  var last_known_scroll_position = 0;
  var ticking = false;
  function doSomething(scroll_pos) {
    if(scroll_pos<50){
      nav.classList.add("navIn")
      nav.classList.add("fixed-top")
    } else if(scroll_pos>50){
      nav.classList.remove("navIn")
      nav.classList.add("navout")
    }
  }

  window.addEventListener('scroll', function(e) {
    last_known_scroll_position = window.scrollY;
    if (!ticking) {
      window.requestAnimationFrame(function() {
        doSomething(last_known_scroll_position);
        ticking = false;
      })
      ticking = true;
    }
  })
  </script>
