/*
  Landing page
*/

.back {
  width:100%;
  position: relative;
  background-image: url(../images/backgroundHome.png) !important;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -999;
  min-height: 700px;
  -moz-appearace:none;
    -webkit-appearace:none;
    appearance:none;
}

.up {
  position: relative;
  top:100px;
  width: 60%;
  padding: 30px;
}

.description-top {
  color: #474747;
}

.description-middle {
    color: #316fea;
}

.description-bottom {
    color: #6d6d6f;
    font-weight: normal;
    font-weight: bold;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutFromRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.navout {
  animation: 0.5s ease-out 0s 1 slideOutFromRight;
  animation-fill-mode: forwards;
}

.navIn {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
  animation-fill-mode: forwards;
}

.navbar:hover {
  background-color: #14171a;
  width: 100%;
}

/*
  navbar brand
*/

.brand {
  border-radius: 5px;
  width: 90px;
  font-size: 23px;
  color: white;
  background-color: rgb(121, 213, 199);
}

@keyframes moveright {
    0% {width: 90px}
    100% {width: 200px}
}

.brand:hover {
  background-color: rgb(237, 17, 92);
  animation: moveright 0.3s linear 1;
  animation-fill-mode: forwards;
}

/*
  anchor hover change
*/

.navbar-nav a:hover {
  background-color: rgb(121, 213, 199);
}

/*
  navbar contents
*/

.text-change {
  text-shadow: 1.2px 1.2px white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 7px;
  margin-right: 20px;
}

/*
background on top
*/


.description {
  color: inherit;
  font-weight: bold;
  font-size: 30px;
  top:150px;
  text-align: center;
  position: relative;
  background-color: olive;
  filter:sepia(60%) opacity(55%);
  border-radius: 0px 50px;
}

/*
 Footer CSS
*/

.footer-under {
    background-color: rgb(49, 40, 51);
    padding-bottom: 50px;
    color: rgb(238, 238, 238);
    position: relative;
    font-weight: 200;
    font-family: Helvetica, serif;
}

.container-width {
    width: 90%;
    max-width: 1150px;
    margin-top: -150px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    z-index:999;
    position:relative;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}

.header-footer {
  overflow: hidden;
  height:600px;
  position:relative;
  top:230px;

}

.svg-footer {
  color: #fafafa;display: block;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.foot-list-item {
    font-size: 0.8em;
    padding-top: 0.5em;
    padding-right: 0px;
    padding-bottom: 0.5em;
    padding-left: 0px;
}

.foot-list-item a:hover {
  color: rgb(121, 213, 199);
}

.foot-list-item-anchor {
  color: rgba(238, 238, 238, 4.8);
  font-weight: bold;
}

.foot-list {
    float: left;
    width: 200px;
}

.clearfix {
    clear: both;
}

.copyright {
    background-color: rgba(0, 0, 0, 0.15);
    color: rgba(238, 238, 238, 0.5);
    bottom: -50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    position: relative;
    width: 100%;
    font-size: 0.75em;
}

.made-with {
  position: relative;
  margin-left: 200px;
  color: rgba(255, 255, 255, 8.75);
}

.foot-form-title {
    color: rgba(255, 255, 255, 8.75);
    font-weight: 400;
    margin-bottom: 10px;
    padding-top: 0.5em;
    padding-right: 0px;
    padding-bottom: 0.5em;
    padding-left: 0px;
    top:900px;
    text-align: right;
    font-size: 2em;
}

.foot-form-desc {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.55);
    line-height: 20px;
    text-align: right;
    margin-bottom: 15px;
}

.error {
  background-color: #F0F3F4;
}

/*
  Index page projects part
*/

.explore {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(34, 34, 34);
    color: white;
    top: 0px;
    position: relative;
}

.body-apps {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #F0F3F4;
  color: black;
}

.body-apps-info {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ABEBC6;
  color: black;
}

.page-section {
  color: white
}

.btn-success {
  border-radius: 0px !important;
  background-color: #8064A2 !important;
  color: white !important;
  border-color: #8064A2 !important;
}

.btn-success:hover {
  border-radius: 0px !important;
  background-color: white !important;
  color: #8064A2 !important;
  border-color: white !important;
}

/*
Contributor part
*/

.contributor {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F7F9F9;
    font-family: Helvetica, serif;
    color: black;
}

/*
 Contributors card
*/

.contri-github {
  background-color: #333 !important;
}

.contri-linkedIn {
  background-color: #0077b5 !important;
  color: white !important;
}

.contri-twitter {
  background-color: #1da1f2 !important;
  color: white !important;
}

.contri-info:hover {
  color: black !important;
  text-decoration: none;
}

/*
  Contact page
*/
.contact-area {
  color: #2E3280;
  padding-top: 100px;
  padding-bottom: 100px;
  height: auto;
  background-color: #F1F8FE;
}

.contact-foot-list-item-anchor {
  font-weight: bold;
  font-size: 23px;
  margin-right: 10px;
}

/*
  Thank you page
*/

.thankyou:hover {
  background-color: transparent !important;
  color: teal;
}

@media only screen and (min-width: 480px) {
  .back {
      min-height: 760px;
        background-attachment: fixed;
    }
  .up {
    width: 30%;
  }
  .container-width {
      top:-100px;
    }

  .header-footer {
    top:70px;
  }
}
