---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="jumbotron text-center">
        <img src="{{page.picUrl}}" alt="pic" class="img-fluid img-thumbnail rounded-circle"><br><br>
        <h3>{{page.name}}</h3>
        <a href="{{page.github_url}}" class="contri-github-button btn btn-lg">{% octicon mark-github %}</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="well text-center">
        <h1 class="jumbotron">About me</h1>
          <ul class="list-group">
            <li class="list-group-item active">Languages I know</li>
            {% for lang in page.languages%}
              <li class="list-group-item">{{lang}}</li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>

  {%if page.project %}
    <div class="row img-fluid">
      <div class="col-xs-12 col-md-12">
        <h1>Some of my Projects</h1>
        <hr>
        {% for projects in page.project %}
        <div class="jumbotron">
          <p>{{projects | markdownify}}</p>
        </div>
        <hr>
        {%endfor%}
      </div>
    </div>
  {%endif%}

</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12">
        {{ content }}
    </div>
  </div>
</div>
